.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board {
  margin-top: 10px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

form select {
  margin-left: 10px;
  margin-right: 10px;
}